/* Styles go beneath here! */

body {
    font-family: sans-serif;
    color: #333333;
}

header {
    background-color: #eeeeee;
    text-align: center;
    margin: 0;
    padding-top: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

p {
    margin: 0 0;
}

h1 {
    font-size: 40px;
}

main {
    margin: 0 0;
    padding: 32px 0;
    background: #eeeeee;
}

figure {
    background-color: white;
    text-align: center;
    margin: 0 .8%;
    
}

figcaption {
    padding: 15px 0;
}

img {
    max-width: 66%;
    height: auto;
    margin-top: 32px;
    
  
}

section {
    margin: 0 30%;
    
}

ul {
    margin: 20px 0;
}

li {
    line-height: 25px;
    margin: 20px 0;
}

h2 {
    text-align: center;
    font-size: 18px;
    padding: 20px 0;
}


footer {
    background-color: #eeeeee;
    text-align: center;
    font-size: 18px;
    margin: 0;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

blockquote {
    font-style: italic;
}